.Results h2 {
  color: #4d4dff;
  font-size: 76px;
  margin: 10px 10px;
  line-height: 1;
}
.Results h4 {
  font-weight: 100;
  border-bottom: 1px solid #ccc;
  margin: 20px 10px;
  padding-bottom: 10px;
  text-align: left;
}

.phonetics {
  font-style: italic;
  font-weight: 150;
}

.Results section {
  background-color: #f7f7f7;
  padding: 25px;
  border-radius: 4px;
  margin: 25px 0;
  box-shadow: -1px 2px 6px 1px rgba(58, 64, 90, 0.15);
}
